In [12]:
import numpy as np
import pandas as pd
from scipy import stats
data =pd.read_excel('statistics.xlsx')
data.head()

   Emp#  YearsOfExp  Salary in Rs.
0     1          10         126015
1     2           1          12598
2     3           8         100639
3     4          10         125351
4     5           2          25031

In [13]:
salary=data["Salary in Rs."]
print(salary)

0     126015
1      12598
2     100639
3     125351
4      25031
5      62630
6     112620
7     100639
8      50145
9      25232
10    112770
11     37512
12     50274
13     62768
14    125363
15     25226
16     75392
17     87779
18     87654
19     37592
20    125186
21     25187
22    113309
23    113112
24    125506
Name: Salary in Rs., dtype: int64

In [14]:
print("MEAN:{0}".format(np.mean(salary)))

MEAN:77821.2

In [15]:
print("MODE:{0}".format(stats.mode(salary)))

MODE:ModeResult(mode=array([100639], dtype=int64), count=array([2]))

In [16]:
print("MEDIAN:{0}".format(np.median(salary)))

MEDIAN:87654.0